<div *ngIf="dataLoaded == false">
    <div class="text-center">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
</div>
<table class="table table-dark">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th (click) = "clearCurrentColor()"
            routerLink="cars">Tüm Renkler</th>
            <th></th>
        </tr>
        <tr *ngFor= "let color of colors"
        routerLink = "cars/color/{{color.id}}"
        (click)="setCurrentColor(color)">
            <td>{{color.id}}</td>
            <td>{{color.name}}</td>
        </tr>
    </tbody>
</table>
