<div *ngIf="dataLoaded == false">
    <div class="text-center">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
</div>
<table class="table table-dark ">

    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Marka Adı</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let brand of brands">
            <td>{{brand.id}}</td>
            <td>{{brand.name}}</td>
        </tr>
    </tbody>
</table>