<div *ngIf="dataLoaded == false">
    <div class="text-center">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
</div>
<table class="table table-dark ">

    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Marka Adı</th>
        </tr>
    </thead>
    <tbody>
        <tr (click)="clearCurrentBrand()"
         routerLink="/cars"
          (class)="getAllBrandClass()">
            <th class="custom-element">Tüm Markalar</th>
            <th></th>
        </tr>
        <tr (click)="setCurrentBrand(brand)"
         *ngFor="let brand of brands" 
         routerLink="/cars/brand/{{brand.id}}"
            (class)="getCurrentBrand()">
            <td>{{brand.id}}</td>
            <td>{{brand.name}}</td>
        </tr>
    </tbody>
</table>